html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  body {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../images/night-sky-g42e5a1ffc_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .container {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
    color: #fff;
    font-size: 25px;
  }
  
  .form__field {
    background-color: rgb(235, 223, 223);
    border-radius: 15px;
    font-size: 20px;
  }
  
  .form__button {
    color: rgb(31, 32, 32);
    background-color: #eee;
    color: rgb(26, 26, 177);
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 100%;
  }
  
  .form__result {
    background-color: rgba(31, 223, 117, 0.5); /* 50% opacity */
    color: rgb(31, 223, 117);
    text-align: center;
    font-size: 25px;
  }
  
